*.class
*.iml
.settings
.project
.classpath
bin
target
.settings
.factorypath
*.apt_generated
.idea
.sass-cache
.classpath
.tmp
bower_components
node_modules
reporters
dist
npm-debug.log