      <h3 *ngIf="accountDetail">Total Market Value: {{accountDetail.totalMarketValue | currency:'USD':true}}</h3>
			<sebm-google-map [latitude]="lat" [longitude]="lng" 
                      [zoom]="1" [zoomControl]="true" [mapDraggable]="false">
<!--
        <app-map-country [modal]="lgModal" [country]="'US'"></app-map-country>  
-->
        <app-map-country [modal]="lgModal" [countries]="countries" (countryChange)="onCountryChange($event)"></app-map-country>  
			</sebm-google-map>

<!--
<button class="btn btn-primary" (click)="lgModal.show()">Large modal</button>
-->

<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{targetCountryName}} {{targetCountryCode}}</h4>
      </div>
      <div class="modal-body">
        <div *ngIf="holding">
          <h3>Total Market Value: {{holding.totalMarketValue | currency:'USD':true}}</h3>
          <app-holdings-table [data]="holding.holdings"></app-holdings-table>
        </div>
      </div>
    </div>
  </div>
</div>	  
